<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style.css">
    <link rel="stylesheet" href="static\nav.css">
    <link rel="stylesheet" href="static\template.css">

    <title>Home</title>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="static\images\Habib_University.jpg" width="125px">
            </div>
           
            
        </div>
</head>

            <body>
                
                <div class="slideshow-container">
                
                <div class="mySlides fade">
                  <div class="numbertext">1 / 4</div>
                  <img src="static/images/DSC_0166.JPG" style="width:100%">
                  <div class="text">Caption Text</div>
                </div>
                
                <div class="mySlides fade">
                  <div class="numbertext">2 / 4</div>
                  <img src="static/images/DSC_0185.JPG" style="width:100%">
                  <div class="text">Caption Two</div>
                </div>
                
                <div class="mySlides fade">
                  <div class="numbertext">3 / 4</div>
                  <img src="static/images/DSC_0165.JPG" style="width:100%">
                  <div class="text">Caption Three</div>
                </div>
                
                <div class="mySlides fade">
                    <div class="numbertext">4/ 4</div>
                    <img src="static/images/DSC_0009 copy.JPG" style="width:100%">
                    <div class="text">Caption Three</div>
                  </div>

                
                </div>
                <br>
                
                <div style="text-align:center">
                  <span class="dot"></span> 
                  <span class="dot"></span> 
                  <span class="dot"></span> 
                  <span class="dot"></span> 
                </div>
                
                <script>
                let slideIndex = 0;
                showSlides();
                
                function showSlides() {
                  let i;
                  let slides = document.getElementsByClassName("mySlides");
                  let dots = document.getElementsByClassName("dot");
                  for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";  
                  }
                  slideIndex++;
                  if (slideIndex > slides.length) {slideIndex = 1}    
                  for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                  }
                  slides[slideIndex-1].style.display = "block";  
                  dots[slideIndex-1].className += " active";
                  setTimeout(showSlides, 3000); // Change image every 2 seconds
                }
                </script>
                
            </body>


           
            <head>

           
              <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
             <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
                <script src="https://kit.fontawesome.com/a076d05399.js"></script>
              </head>
            
              <body>
                <input type="checkbox" id="active">
                <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
                <div class="wrapper">
                  <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/path_final">Find Path</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Feedback</a></li>
            </ul>
            </div>
            
            </body>


            
</html>


