<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style.css">
    <link rel="stylesheet" href="static\nav.css">
    <link rel="stylesheet" href="static\template.css">

    <title>Home</title>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="static\images\Habib_University.jpg" width="125px">
            </div>
           
            
        </div>
</head>

<body>
            
            <p>The shortest path is {{ output }} minutes</p>
                    
                    
        </form>
    </div>
            
            
            
</body>
</html>