<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style.css">
    <link rel="stylesheet" href="static\nav.css">
    <link rel="stylesheet" href="static\templates.css">
    <title>Home</title>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="static\images\Habib_University.jpg" width="125px">
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/path_final">Find Path</a></li>

                </ul>
                
            </nav>
        </div>
</head>


<body>
    

    
    <div class="input" align=center">
        <p style="color: black;" align="center"> Enter your Destination</p>
        <form action="/path" method="post" class="form-box" align="center">
            <select name='destination'placeholder=' value' >
                <option value='Hu Dukaan'>Hu Dukaan</option>
                <option value='East Street'>East Street</option>
                <option value='Cafeteria'>Cafeteria</option>
                <option value='Central Lower Ground'>Central Lower Ground</option>
                <option value='Circuits and Electronic Lab 1'>Circuits and Electronic Lab 1</option>
                <option value='Music Room'>Music Room</option>
                <option value='Linux And Networking Lab'>Linux And Networking Lab</option>
                <option value='Visualization And Graphics Lab'>Visualization And Graphics Lab</option>
                <option value='Swimming Pool'>Swimming Pool</option>
                <option value='Gym'>Gym</option>
                <option value='Dhaaba'>Dhaaba</option>
                <option value='Zen Garden'>Zen Garden</option>
                <option value='Central Street 1'>Central Street 1</option>
                <option value='Wellness Courtyard'>Wellness Courtyard</option>
                <option value='Office Of Student Life'>Office Of Student Life</option>
                <option value='Central Street 2'>Central Street 2</option>
                <option value='Earth Courtyard'>Earth Courtyard</option>
                <option value='Air Courtyard'>Air Courtyard</option>
                <option value='Water Courtyard'>Water Courtyard</option>
                <option value='Fire Courtyard'>Fire Courtyard</option>
                <option value='Chemistry Lab'>Chemistry Lab</option>
                <option value='Digital Systems and Instrumentation Lab'>Digital Systems and Instrumentation Lab</option>
                <option value='Arif Habib Classroom'>Arif Habib Classroom</option>
                <option value='Learn Courtyard'>Learn Courtyard</option>
                <option value='Student Lounge'>Student Lounge</option>
                <option value='Multipurpose Sports Courts 1'>Multipurpose Sports Courts 1</option>
                <option value='Amphitheater'>Amphitheater</option>
                <option value='Engineering Workshop'>Engineering Workshop</option>
                <option value='Soorty Hall'>Soorty Hall</option>
                <option value='Library'>Library</option>
                <option value='Reception'>Reception</option>
                <option value='Student Center'>Student Center</option>
                <option value='Tariq Rafi Lecture Theater'>Tariq Rafi Lecture Theater</option>
                <option value='Film Studio'>Film Studio</option>
                <option value='Mehfil'>Mehfil</option>
                <option value='Design Studio'>Design Studio</option>
                <option value='Baithak'>Baithak</option>
                <option value='Auditorium Hall'>Auditorium Hall</option>
                <option value='Playground'>Playground</option>
                <option value='Faculty Cafeteria'>Faculty Cafeteria</option>
                <option value='Gate 2'>Gate 2</option> 
                <option value='Office of Career Services'>Office of Career Services</option>    
                <option value='Cafe2go'>Cafe2go</option>
                <option value='Cassim lab'>Cassim lab</option>
                <option value='East level 1 faculty pods'>East level 1 faculty pods</option>
                <option value='Central street ground faculty pods'>Central street ground faculty pods</option>
                <option value='ATM'>ATM</option>
                <option value='Physics lab'>Physics lab</option>
                <option value='Math lab'>Math lab</option>
                <option value='Courts adjacent Faculty pods'>Courts adjacent Faculty pods</option>
                <option value='Rahim bhai stall'>Rahim bhai stall</option>
                <option value='C-015'>C-015</option>
                <option value='Facilities office'>Facilities office</option>
                <option value='Changing room'>Changing room</option>
                <option value='Ground floor Projects Lab'>Ground floor Projects Lab</option>
                <option value='Female lounge'>Female lounge</option>
                <option value='Bank'>Bank</option>
                <option value='Security office'>Security office</option>
                <option value='Second floor faculty pods W-301-10'>Second floor faculty pods W-301-10</option>
                <option value='W3215'>W321</option>
                <option value='W242'>W242</option>
                <option value='W243'>W243</option>
                <option value='W221 Faculty Pod'>W221 Faculty Pod</option>
                <option value='C203 Faculty Pod'>C203 Faculty Pod</option>
                <option value='CPE C201'>CPE C201</option>
                <option value='CPE Classroom'>CPE Classroom</option>
                <option value='Playground'>Playground</option>
                <option value='Second floor Admin offices'>Second floor Admin offices</option>
                <option value='Library Info commons'>Library Info commons</option>
                <option value='Writing Centre'>Writing Centre</option>
                <option value='Ehsas centre'>Ehsas centre</option>
                <option value='Yohsin Hall'>Yohsin Hall</option>
                <option value='Deans Pod'>Deans Pod</option>
                <option value='N219 faculty Pods'>N219 faculty Pods</option>
             
                
                
            </select>


            
    <div class="input">
        <p>Enter your current Current Location</p>
        <form action="/path" method="post" class="form-box">
            <select name='Current_Location'placeholder='value' >
                <option value='Hu Dukaan'>Hu Dukaan</option>
                <option value='East Street'>East Street</option>
                <option value='Cafeteria'>Cafeteria</option>
                <option value='Central Lower Ground'>Central Lower Ground</option>
                <option value='Circuits and Electronic Lab 1'>Circuits and Electronic Lab 1</option>
                <option value='Music Room'>Music Room</option>
                <option value='Linux And Networking Lab'>Linux And Networking Lab</option>
                <option value='Visualization And Graphics Lab'>Visualization And Graphics Lab</option>
                <option value='Swimming Pool'>Swimming Pool</option>
                <option value='Gym'>Gym</option>
                <option value='Dhaaba'>Dhaaba</option>
                <option value='Zen Garden'>Zen Garden</option>
                <option value='Central Street 1'>Central Street 1</option>
                <option value='Wellness Courtyard'>Wellness Courtyard</option>
                <option value='Office Of Student Life'>Office Of Student Life</option>
                <option value='Central Street 2'>Central Street 2</option>
                <option value='Earth Courtyard'>Earth Courtyard</option>
                <option value='Air Courtyard'>Air Courtyard</option>
                <option value='Water Courtyard'>Water Courtyard</option>
                <option value='Fire Courtyard'>Fire Courtyard</option>
                <option value='Chemistry Lab'>Chemistry Lab</option>
                <option value='Digital Systems and Instrumentation Lab'>Digital Systems and Instrumentation Lab</option>
                <option value='Arif Habib Classroom'>Arif Habib Classroom</option>
                <option value='Learn Courtyard'>Learn Courtyard</option>
                <option value='Student Lounge'>Student Lounge</option>
                <option value='Multipurpose Sports Courts 1'>Multipurpose Sports Courts 1</option>
                <option value='Amphitheater'>Amphitheater</option>
                <option value='Engineering Workshop'>Engineering Workshop</option>
                <option value='Soorty Hall'>Soorty Hall</option>
                <option value='Library'>Library</option>
                <option value='Reception'>Reception</option>
                <option value='Student Center'>Student Center</option>
                <option value='Elevator'>Elevator</option>
                <option value='East Zone'>East Zone</option>
                <option value='Tariq Rafi Lecture Theater'>Tariq Rafi Lecture Theater</option>
                <option value='Film Studio'>Film Studio</option>
                <option value='Mehfil'>Mehfil</option>
                <option value='West Zone 1'>West Zone 1</option>
                <option value='West Zone 2'>West Zone 2</option>
                <option value='Amin Issa Tai Classroom'>Amin Issa Tai Classroom</option>
                <option value='Design Studio'>Design Studio</option>
                <option value='Baithak'>Baithak</option>
                <option value='Auditorium Hall'>Auditorium Hall</option>
                <option value='Playground'>Playground</option>
                <option value='Faulty Pod'>Faulty Pod</option>
                <option value='Prayer Area'>Prayer Area</option>
                <option value='Faculty Cafeteria'>Faculty Cafeteria</option>
                <option value='Day Care'>Day Care</option>       
        
            </select>

            <input type="submit" value="submit" ></input>
            
            <p>The shortest path is {{ output }} minutes</p>
                    
                    
        </form>
    </div>
            
            
            
</body>
</html>
